@tailwind base;
@tailwind components;
@tailwind utilities;

.vietnam,
* {
  font-family: "Be Vietnam Pro", sans-serif;
}

.mulish {
  font-family: "Mulish", sans-serif;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

body::scrollbar {
  width: 0;
}

body {
  background-color: #151515;
}

*::selection {
  background: rgb(209, 209, 209);
}
